<!-- Sharingbutton Facebook -->
<a
  class="resp-sharing-button__link"
  href="{{ . }}"
  target="_blank"
  rel="noopener"
  aria-label=""
  title="Facebook">
  <div
    class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--small">
    <div
      aria-hidden="true"
      class="resp-sharing-button__icon resp-sharing-button__icon--solid">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round">
        <path
          d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
      </svg>
    </div>
  </div>
</a>
