{{ define "main" }}
    
    {{ $researchPages := .Pages}}
    {{$isRootTaxonomy := eq .Kind "taxonomy" }}

    <main class="posts categories-archive">
        <h1>
            {{$pageTitle := .Title}}
            {{if (eq .Kind "taxonomy")}}{{$pageTitle = "Research Categories"}}{{end}}
            {{ $pageTitle }}
        </h1>
        
        {{if not $isRootTaxonomy}}
        {{ $paginator := .Paginate .Data.Pages .Site.Params.maxResearchInArchive }}
        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <!-- <div class="post-year">{{ .Key }}</div> -->

                <ul class="posts-list">
                    {{ range .Pages }}
                    {{$curPage := .}}
                    <li class="post-item">
                        <a href="{{.Permalink}}" class="post-item__link">
                            {{with .Params.thumbnail}}
                                {{$thumbnail := $curPage.Resources.GetMatch .}}
                                <div class="cover-picture">
                                    <img src="{{$thumbnail.RelPermalink}}" alt="">
                                </div>
                            {{end}}
                            <span class="post-title">
                                <span class="title">{{.Title}}</span>
                                <div class="description">
                                    <span>
                                        {{if (and (isset .Params "description") (ne .Params.description ""))}}
                                        {{.Params.description}}
                                        {{else }}{{.Summary}}
                                        {{end}}
                                    </span>
                                </div>
                            </span>
                            <span class="post-day">
                                {{ .Date.Format "Jan 2, 2006"}}
                            </span>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}
    
        {{.Scratch.Set "prevText" "Newer researchs"}}
        {{.Scratch.Set "nextText" "Older researchs"}}
        {{ partial "pagination-list.html" . }}

        {{else }}

        {{- partial "categories_wordcloud.html" .Data.Pages -}}
        <!-- <div id="wordcloudCanvas" ></div> -->

        <h2 >By Alphabetical order</h2>
        <div class="posts-group">
            <ul id="postsListNoCloud" class="posts-list ">
                <!-- grid gap-1 grid-2 grid-medium-4 -->
                {{- range sort .Data.Pages "Title" -}}
                    {{- $curPage := . -}}
                    <li class="post-item category-item">
                        <a href="{{.Permalink}}">
                            <span class="post-title category-tag">
                                <span class="title">{{.Title}}</span>
                            </span>
                        </a>
                    </li>
                {{- end -}}
            </ul>
        </div>


        
        {{end}}
    </main>
{{ end }}
