.menu {
  @media #{$media-size-tablet} {
    // background-color: $light-background-secondary;
    width: 100%;
    top: 100%;

    .menu__inner li {
      margin-left: auto;
      margin-right: auto;
    }
  }

  li a.active {
    color: $accent;
    font-weight: 700;
  }

  li a {
    color: $gray;
    font-weight: 400;
  }

  // force mobile menu size tablet size
  &-trigger {
    @media #{$media-size-tablet} {
      display: block;
    }
  }

  @media #{$media-size-tablet} {
    position: absolute;
    top: 50px;
    right: 0;
    border: none;
    margin: 0;
    padding: 10px;
  }
  &__inner {

    @media #{$media-size-tablet} {
      flex-direction: column;
      align-items: flex-start;
      padding: 0;

      li {
        margin: 0;
        padding: 5px;
      }
    }
  }
}
