$fontName: "RobotoL";
@font-face {
  font-family: $fontName;
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url("/media/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: $fontName;
  font-style: italic;
  font-display: auto;
  font-weight: 400;
  src: url("/media/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: $fontName;
  font-style: normal;
  font-display: auto;
  font-weight: 700;
  src: url("/media/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: $fontName;
  font-style: italic;
  font-display: auto;
  font-weight: 700;
  src: url("/media/fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: $fontName;
  font-style: normal;
  font-display: auto;
  font-weight: 500;
  src: url("/media/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: $fontName;
  font-style: italic;
  font-display: auto;
  font-weight: 500;
  src: url("/media/fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
}

html#ISPhtml {
  letter-spacing: normal;
  font-size: 19px;
  @media screen and #{$media-size-tablet} {
    font-size: 16px;
  }
}

body#ISPbody {
  font-family: $fontName, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif ;

  font-feature-settings: initial ;
  -webkit-font-smoothing: initial ;
}