.news{

    .date{
        font-size: 1rem;
        font-weight: 500;
        color: $gray;
    }
    .content{
        margin-bottom: 25px;
        align-items: flex-start;
        p{
            padding-left: clamp(10px, 5%, 50px);
            margin: 0;
        }
    }
}