// People
article.people {
    padding-bottom: 20px;
    display: grid;
  
    grid-template-columns: repeat(3, 1fr);
  
    .info {
      grid-column: 1/2;
      grid-row: 1/2;
      padding: 0 10px;
  
      .profile-picture {
        padding-top: 100%;
        position: relative;
        .image-container {
          max-width: 100%;
  
          position: absolute;
          top: 0;
          border-radius: 10%;
          overflow: hidden;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
  
      h1.name {
        text-align: center;
        margin: 0;
        margin-top: 10px;
      }
      h2.position {
        margin: 0;
        margin-top: 5px;
        text-align: center;
        color: $gray;
        justify-content: center;
      }
  
      $affiliationsColor: $gray;
      .affiliations {
        color: $affiliationsColor;
        text-align: center;
  
        a:not(:hover) {
          color: $affiliationsColor;
        }
      }
      .socials {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // a {
        //   svg {
        //     color: $affiliationsColor;
        //   }
        //   &:hover svg{
        //     color:$white
        //   }
        // }
      }
    }
    .description {
      grid-column: 2/4;
      grid-row: 1/2;
  
      max-width: 100%;
  
      padding: 0 10px;
      padding-left: 50px;
    }
  
    @media screen and (max-width: $BP_medium) {
      .info {
        grid-column: 1/-1;
  
        .profile-picture {
          width: 50%;
          padding-top: 50%;
          margin: auto;
        }
      }
      .description {
        margin-top: 20px;
        grid-column: 1/-1;
        grid-row: 2/3;
        padding-left: 10px;
      }
    }
  }
  
  main.people-archive {
    max-width: 800px;
    h1 {
      text-align: center;
      font-weight: 500;
      font-size: 2rem;
      margin: 20px 0;
    }
  
    h2 {
      justify-content: center;
      margin-top: 1rem;
    }

    h2.position-title{
      font-size: 1.6rem;
    }
  
    ul.people-list {
      list-style: none;
      margin: 0;
  
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-around;
      justify-content: center;
  
      
      li {
        --liMargin: 10px;
        --liWidth: 25%;
        width: calc(var(--liWidth, 33%) - 2*var(--liMargin, 10px));
        margin: 0 var(--liMargin, 10px);
        margin-bottom: 20px;
        color: $black;
  
        display: flex;
        flex-direction: column;
        border-radius: 5px;
  
        // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        box-shadow: 0 7px 10px rgba(0,0,0,0.1);
        transition: box-shadow 100ms linear;
        &:hover {
          box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 10px 10px rgba(0,0,0,0.22);
          .picture{
            img{
              transform: scale(1.1);
            }
          }
        }
        
  
        .picture {
          width: 90%;
          margin: auto;
          margin-top: 10px;
  
          border-radius: 30px;
          overflow: hidden;
          aspect-ratio: 1/1;
          position: relative;
          z-index: 10;  

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;

            transition: transform 100ms ease-in-out;
            &.nopicture {
              background-color: rgb(236, 239, 241);
            }
          }
        }
  
        .name {
          color: $black;
          text-align: center;
          width: 90%;
          margin: 5px auto;
        }
  
        .socials {
          margin-top: 10px;
          // margin-top: auto;
          margin-bottom: 10px;
          text-align: center;
        }
      }
    }
  }
  
  
  $phoneBreakpoint : 684px;
  $tabletBreakpoint: 900px;
  
  @media screen and (max-width:$tabletBreakpoint) {
    main.people-archive{
      ul.people-list{
        li{
          --liMargin: 10px;
          --liWidth: 45%;
        }
      }
    }
  }
  
  
  @media screen and (max-width:$phoneBreakpoint) {
    main.people-archive{
      ul.people-list{
        li{
          --liMargin: 0px;
          --liWidth: 75%;
        }
      }
    }
  }
