
.post-publications{
    flex:1;
    h1{
        text-align: center!important;
    }
}
.publication-container{
    display: flex;
    flex-direction: column;

    .publication-item{
        margin-bottom: 1rem;
    }
    .publications-list{
        order: 2
    }
    .controls{
        order:1;
        display: flex;
        justify-content: center;
        gap: 20px;

        margin-bottom: 30px;

        .quicksearch{
            padding: 5px 10px;
            border-radius: 20px;
            border: 1px solid $lightgray;
        }
        .select-year{
            display: flex;
            align-items: center;
        }
    }

    .publication-year{
        h2{
        font-size: 1.6rem;
        font-weight: 700;
        margin: 1rem 0;
        }
    }

    .publication{
        .file-logo{
            display: inline-block;
            margin-right: 0px;
            img{
                height: .8rem;
            }
        }
        h3.publication-title{
            font-size: 1rem;
            font-weight: 500;
            color: $accent;
            // margin: 1rem 0 .5rem;   
            display: inline;
        }
        // .publication-title{
        // }
        .authors{
            display: inline;
            font-size: 1rem;
            font-weight: 400;
	    color: $black;
            &>span.author{
                &:not(:last-child){
                    &:after{
                        content:','
                    }
                }
            }
        }
        .book, .journal{
            font-size: .9rem;
            font-style: italic;
            font-weight: 400;
            display: inline;
	    color: $gray;
        }
    }
}
