main.post-research article {
  font-size: 1rem;

  .researchers{
    font-weight: normal;
    color: $gray;
    font-style: italic;
    font-size: 1rem;

    display: flex;
    flex-wrap: wrap;

    .researcher-link{
      display: inline;
    }
  }
  p {
    text-align: justify;
  }
  .research-date {
    text-align: right;
    color: $light-color;
    opacity: 0.6;
    font-size: 0.9rem;
    margin-left: auto;
    min-width: 150px;
  }

  .post-cover {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    img {
      margin: auto;
    }
  }

  .hide {
    opacity: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  h2 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: 400;
  }
  h4,
  h5,
  h6 {
    font-size: 1.1rem;
    font-weight: 400;
  }

  .post-info {
    display: flex;
    opacity: 0.8;
  }

  ul#bibList{
    list-style-type: none;
    margin-left: 1rem;
    margin-top: .5rem;

    li{
      // margin-bottom: .5rem;
      padding: 10px 0;
      padding-left: 5px;

      &.highlighted{
        background-color: $light-border-color;
      }
    }
  }
}

main.research-archive,
main.categories-archive,
.homepage.researches {
  h1 {
    text-align: left;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .posts-group {
    margin-bottom: 0;
  }

  $postItemHPadding: 20px;
  .posts-list {
    .post-item {
      margin-bottom: 10px;
      // padding: 15px 20px;
      border-bottom: none;

      display: flex;
      align-items: stretch;

      a {
        align-items: flex-start;
      }
      a.post-link {
        display: block;
        // min-height: 20vh;
        // padding: 27px $postItemHPadding;
      }
      a.post-item__link{
        width: 100%;
      }

      .cover-picture {
        width: 20%;
        flex-shrink: 0;
        margin-right: 1em;
        img {
          // object-fit: cover;
          object-fit: contain;
          // object-position: center;
          object-position: center top;
          // height: 100%;
          height: auto;
          // min-height: 15vh;
          max-width: 100%;
        }
      }
      .post-categories {
        p {
          margin: 0;
        }
      }

      .post-title {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        flex: 1;
        font-size: 1rem;

        .title,
        .description {
          display: block;
          color: $gray;
        }
        .title {
          margin-bottom: 0px;
          font-weight: 700;
          color: $accent;
        }
        .description {
          $lh: 1.2;
          $fs: 0.9rem;
          $maxLine: 4;

          font-size: $fs;
          font-style: italic;
          line-height: $lh;

          // max-height: $maxLine * $fs * $lh;

          span {
            display: -webkit-box;
            -webkit-line-clamp: $maxLine;
            line-clamp: $maxLine;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }

      .post-day {
        display: block;
        font-size: 0.8rem;
      }
    }

    .post-item.category-item {
      // justify-content: center;
      display: inline-block;
      // margin-bottom: 0;
      margin:5px;
      a{
        padding: 0;
      }
      .post-title {
        // color: #222;
        // background-color: transparent;
        // padding: 5px 10px;
        // border-radius: 3px;
        text-align: left;

        color: $light-color;
        background-color: $light-background-secondary;
        padding: 5px 15px;
        border-radius: 3px;
;
        &:hover {
          background-color: $accent;
          color: $white;
        }

        .title {
          color: inherit;
          font-weight: normal
        }
      }
    }
  }
}

@media screen and (max-width: $BP_medium) {
  main.research-archive,
  main.categories-archive,
  .homepage.researches {
    .posts-list {
      .post-item {
        &.medium-flex-wrap {
          flex-wrap: wrap;
        }
        a {
          flex-wrap: wrap;
        }

        .post-title {
          width: 100%;
          flex: auto;
        }

        .cover-picture {
          width: 80%;
          margin: auto;
          margin-bottom: 20px;

          img {
            max-height: 25vh;
            // width: 100%;
            max-width: m#{i}n(100%, 450px); //400px;
            margin: auto;
          }
        }
        .post-day {
          margin-left: auto;
          margin-top: 15px;
        }
      }
    }
  }
}
