main.post-seminar {
  h1.post-title {
    font-size: 2rem;
    margin-bottom: 0.5em;
  }

  h2.speaker-name {
    margin-top: 0;
    font-size: 1.4rem;
    text-align: right;
    justify-content: flex-end;
    color: $darkgray;
  }

  .post-info {
    text-align: right;
  }

  // .seminar-date{
  //     display: inline-block;
  // }
  .atcb-button {
    font-size: 0.8rem;
  }

  .ressources {
    a.button-file {
      display: inline-block;
      margin-left: 10px;
      margin-right: 20px;
    }
  }
}

main.seminars-archive {
  h1 {
    // text-align: center;
    text-align: left;
    font-weight: 500;
    font-size: 2rem;
  }
}

details.seminar-detail {
  width: 100%;
  border: 2px dashed $accent;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  summary {
    padding: 10px 20px;
    list-style: none;
    background-color: $light-background;//$verylightgray;

    display: flex;
    // align-items: flex-start;

    .details {
      flex: 1;

      .title {
        font-weight: 500;
      }
      .speaker {
        font-style: italic;
      }
    }
    .date {
      font-size: 0.8rem;
      font-style: italic;
      color: $darkgray;
      margin-left: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &:after{
        content: "\25BC  show more";
        // content: "\25BE show more";
        display: block;
        font-style: normal;
        font-size: .6rem;
        text-align: right;
      }
    }

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }
  }

  &[open]{
    summary{
      .date:after{
        // content: "\25B4  show less";
        content: "\25B2  show less";
      }
    }
  }

  .inner {
    padding: 10px 20px;

    .additionals {
      font-size: 0.8rem;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      opacity: 0.6;

      .atcb-initialized {
        flex-shrink: 0;
      }
      .atcb-button {
        font-size: 0.8rem;
      }
    }
  }
}

@media screen and #{$media-size-tablet} {
  details.seminar-detail {
    summary {
      flex-wrap: wrap;
      .date {
        width: 100%;
        margin-left: 0;
        margin-top: 5px;
        text-align: right;
      }
    }
    .additionals {
      flex-wrap: wrap;
      .seminar-date {
        width: 100%;
      }
    }
  }
}
