
.toc {
    margin: 0 2px 40px;
    border: 1px solid #eee;
    background: $light-background-header;
    border-radius: 8px;
    padding:.4em 0
}

.toc.side {
    font-size:.8em
}

@media screen and (min-width: 1350px) {
    .toc.side {
        position: fixed;
        top: 118px;
        z-index: 1;
        max-height: calc(100% - 150px);
        overflow:auto
    }

    .toc.side::-webkit-scrollbar-thumb {
        border:5px solid var(--code-bg)
    }

    .toc.side.left {
        left: 15px;
        width:250px
    }

    .toc.side.right {
        right: 15px;
        width:265px
    }
}

.toc details summary {
    cursor: pointer;
    margin-inline-start:15px
}

.toc .details {
    display: inline;
    font-weight:500
}

.toc .inner {
    padding:10px 15px 5px 35px
}

.toc ul {
    margin: 0;
    padding:0
}

.toc li ul {
    margin-inline-start:20px
}

.toc li a {
    line-height: 1.5em;
    padding: 3px 5px;
    border-radius: 5px;
    display:block
}

.toc li a.active {
    background-color: $light-table-color;
}

.toc li a:hover {
    text-decoration:underline
}

.toc summary:focus {
    outline:0
}
