@charset "UTF-8";

$white: #ffffff;
$black: #000000cc;
$darkgray: #333333;
$gray: #555555; //#626262;
$lightgray: #999999;
$verylightgray: #dddddd;
$accent: #2962ff; //#3274c3;

$error: #cc0000;
$success: #228B22;

$BP_small: 480px;
$BP_medium: 768px;
$BP_large: 1024px;

/* Light theme color */
$light-background: #fff;
$light-background-secondary: #eaeaea;
$light-background-header: #ffffff; // #fafafa;
$light-color: #222;
$light-color-variant: black;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;
$light-table-color: #dcdcdc;

/* Dark theme colors */
$dark-background: $light-background; // #232425;
$dark-background-secondary: $light-background-secondary; // #3b3d42;
$dark-background-header: $light-background-header; // #1b1c1d;
$dark-color: $light-color; // #a9a9b3;
$dark-color-variant: $light-color-variant; // white;
$dark-color-secondary: $light-color-secondary; // #b3b3bd;
$dark-border-color: $light-border-color; // #4e4e57;
$dark-table-color: $light-table-color; // #4e4e57;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;