// Imports
@import "add_variables";
@import "people";
@import "add_menu";
@import "research";
@import "toc.scss";
@import "seminars.scss";
@import "publications.scss";
@import "news.scss";

$headerHeight: 84px;
body#ISPbody {
  margin-top: $headerHeight;
  min-height: calc(100vh - #{$headerHeight});

  header {
    height: $headerHeight;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;

    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.11);
  }
}

header .header__inner {
  width: 100%;
  max-width: 800px;
}
footer .fundings-logo{
  margin-bottom: 20px;
  gap: 20px;
  img{
    height: m#{i}n(40px, 10vh);
  }
}
@media screen and (min-width: 1350px) {
  main,
  main.post,
  main.posts,
  header .header__inner {
    width: calc(8 / 13 * 100vw);
    max-width: 1350px;
  }
}
nav {
  .menu__inner {
    font-size: 16px;
  }
}
img.site-logo {
  padding-right: 15px;
  mix-blend-mode: multiply;
}

a {
  text-decoration: none;
  //color: $gray;
  color: $accent;

  svg {
    color: $gray;
    transition: transform 100ms ease-in;
  }
  &:hover {
    color: $accent;

    svg {
      color: $accent;
      fill: $white;
      transform: scale(120%);
    }

    span.icon-homepage {
      svg {
        color: $accent;
        fill: $accent;
      }
    }

    span.icon-orcid,
    span.icon-googlescholar {
      svg {
        color: $gray;
        fill: $accent;
      }
    }
  }
}
a.gray{
  color: $gray;
}

// FLEX
.flex {
  display: flex;
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-start {
  justify-content: flex-start;
}
.flex-space-between{
  justify-content: space-between;
}
.flex-center{
  justify-content: center;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.gap-1 {
  gap: 1rem;
}
.flex-wrap {
  flex-wrap: wrap;
}
// Font
h1,
h2 {
  font-weight: 400;
}
h1 {
  font-size: 1.6rem;
}
h2,
h3 {
  font-size: 1.2rem;
}

.error {
  font-weight: 500;
  color: $error;
}
.success {
  font-weight: 500;
  color: $white;
  padding-inline: 10px;
  background-color: $success;
}
// KATEX
// .katex { font-size: 1,1rem; }

.categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  & > a {
    margin-bottom: 10px;
    &:hover {
      border: none;
    }
    // padding: 5px 8px;
  }

  span.tag {
    &:before {
      display: none;
    }
    display: block;
    color: $light-color;
    background-color: $light-background-secondary;
    padding: 5px 8px;
    border-radius: 3px;
    margin-right: 0;

    &:hover {
      background-color: $accent;
      color: $white;
    }
  }
}

// justify-content: center;
.category-tag {
  // color: #222;
  // background-color: transparent;
  // padding: 5px 10px;
  // border-radius: 3px;
  text-align: left;

  color: $light-color;
  background-color: $light-background-secondary;
  padding: 5px 15px;
  border-radius: 3px;
  &:hover {
    background-color: $accent;
    color: $white;
  }

  .title {
    color: inherit;
    font-weight: normal;
  }
}

.paper-box {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 100ms linear;
  &:hover {
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

// iframe
.iframe-container {
  &.center {
    text-align: center;
    iframe {
      margin: auto;
    }
  }
  &.right {
    text-align: right;
    iframe {
      margin-left: auto;
    }
  }
}

// ISP Post layout
main.homepage {
  h1 {
    text-align: center;
  }
  h2 {
    font-size: 1.4rem;
    font-weight: 700;
  }
  .sub-news {
    text-align: left;
  }
}

.ISP-layout {
  h1 {
    // text-align: center;
    text-align: left;
    font-weight: 500;
    font-size: 2rem;
    margin: 10px 0;
  }
  h2 {
    // text-align: center;
    text-align: left;
    font-weight: 500;
    font-size: 1.6rem;
    margin: 10px 0;
  }
  .post-content {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

p {
  text-align: justify;
}

.button-link {
  display: inline-block;

  button {
    color: inherit;
  }
}

.homepage.researches{
  max-width: none;
  padding-inline:0
}
// code block
pre {
  background-color: $verylightgray;
  code {
    color: $accent;
  }
}

// paragraph & list
p ~ ul {
  margin-top: 0;
}
ul ~ p {
  margin-top: 0;
}

// margins
.mt-2 {
  margin-top: 2rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
// grid
.grid {
  display: grid;
}
.gap-1 {
  gap: 1rem;
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (min-width: $BP_small) {
  .grid-small-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-small-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: $BP_medium) {
  .grid-medium-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-medium-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: $BP_large) {
  .grid-large-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-large-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* WORDCLOUD */
#wordcloudCanvas {
  width: 90%;
  margin: auto;
  height: 50vh;
  max-height: 400px;
  margin-bottom: 2rem;

  & > span {
    cursor: pointer;
    padding: 15px;
    transition: scale 250ms ease-in-out;
    &:hover {
      // background: #ffffff90;
      z-index: 999999;
      scale: (1.1);
    }
  }

  @media screen and (max-width: $BP_medium) {
    height: 30vh;
  }
  
}


/* MASTODON COMMENTS */
.mastodon-modal{
  width: 90%;
  max-width: 600px;

  background-color: #004966;
  color:white;  
  border: none;
  border-radius: 10px;

  .copypaste{
    display: flex;
    align-items: center;
    gap:10px;
    flex-wrap: wrap;
  }
}
button.no-padding{
  padding:0;
}
button.transparent{
  background-color: transparent;
}

#mastodon-comments-list{
  .mastodon-comment{
    background-color: #eeeeee;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    gap: 20px;

    a{
      color: #666666;
    }
  }

  .content{
    .author{
      width: 100%;
      display: flex;
      .name{
        flex:1
      }
    }
    .mastodon-comment-content{
      width: 100%;
      p{
        margin-top: 10px;
        margin-bottom: 5px;
      }
    }
  }
  
}