{{ if (isset .Params "redirect") }}
<head>
  <meta http-equiv='refresh' content="0; {{ .Params.redirect }}">
</head>
{{ end }}
<!DOCTYPE html>
<html lang="{{ .Site.Language }}" id="ISPhtml">
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.css"
      integrity="sha384-bYdxxUwYipFNohQlHt0bjN/LCpueqWz13HufFEV1SUatKs1cm4L6fFgCi1jT643X"
      crossorigin="anonymous"
    />

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/katex.min.js"
      integrity="sha384-Qsn9KnoKISj6dI8g7p1HBlNpVx0I8p1SvlwOldgi3IorMle61nQy4zEahWYtljaz"
      crossorigin="anonymous"
    ></script>

    <!-- To automatically render math in text elements, include the auto-render extension: -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.16.2/dist/contrib/auto-render.min.js"
      integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05"
      crossorigin="anonymous"
      onload="renderMathInElement(document.body);"
    ></script>

      
    <!-- overwrite twitter card image -->
    {{ if .Params.cover}}
      {{$cover := .Resources.GetMatch .Params.cover}}
      <meta name="twitter:image" content="{{ $cover.Permalink }}"/>
    {{ else }}
      <meta name="twitter:image" content="https://ispgroup.gitlab.io/media/img/ispg_logo_new.png"/>
    {{ end }}
    

    {{ partial "head.html" . }} {{ partial "additional_head.html" . }}
    
    {{if (or (eq .Type "seminars") (eq .RelPermalink "/seminar/")) }}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/add-to-calendar-button@1/assets/css/atcb.min.css">

      <script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@1" async defer></script>
    {{end}}

    <!-- <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script> -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
    
  </head>
  {{ block "body" . }}
  <body id="ISPbody">
    {{ end }}

    <div class="container">
      {{ partial "header.html" . }}

      <div class="content main-container">{{ block "main" . }}{{ end }}</div>

      {{ block "footer" . }} {{ partial "footer.html" . }} {{ end }}
    </div>

    {{ partial "javascript.html" . }}

    
    <script>
        const inlineKatex = ()=> {
            renderMathInElement(document.body, {
                delimiters: [
                    {left: "$$", right: "$$", display: true},
                    {left: "$", right: "$", display: false}
                ]
            });
        }
        document.addEventListener("DOMContentLoaded", inlineKatex);
    </script>
  </body>
</html>
