{{ define "main" }}

    <main class="post {{with .Params.mainClass}}{{.}}{{end}}">
        {{with .Params.showPostInfo}}
            <div class="post-info">
                {{ if .IsTranslated }}
                    {{ i18n "postAvailable" }}
                    {{ range .Translations }}
                        <a href="{{ .Permalink }}"><span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }} flag-icon-squared"></span></a>
                    {{ end}}
                {{ end }}
            </div>
        {{end}}

        <article>
            <h1>{{ .Title | markdownify }}</h1>

            {{ if .Params.Cover }}
                <figure class="post-cover">
                    <img src="{{ .Params.Cover | absURL }}" alt="{{ .Title }}" />
                
                    {{ if .Params.CoverCaption }}
                        <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
                    {{ end }}
                </figure>
            {{ end }}
            
            {{ if .Params.toc }}
                <hr />
                <aside id="toc">
                <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                    {{ .TableOfContents }}
                </aside>
                <hr />
            {{ end }}

            <div class="post-content">
                {{ .Content }}
            </div>
        </article>

    </main>
{{ end }}
