{{ define "main" }}

    {{ $seminars := .Pages}}
    {{ $paginator := .Paginate .Data.Pages .Site.Params.maxResearchInArchive }}

    <main class="posts news-archive ISP-layout">
        <h1>            
            {{.Title}}
        </h1>

        {{ if .Content }}
            <div class="content align-start">{{ .Content }}</div>
        {{ end }}

        <div class="news-list">
            
            {{range first 100 (sort .Pages ".Date" "desc") }}
                {{partial "news.html" .}}
            {{end}}
            
            
        </div>

    </main>
{{ end }}
