{{ define "main" }}

{{ $pluralPositions := newScratch }}
{{ $pluralPositions.Set "Professor" "Main academic members"}}
{{ $pluralPositions.Set "Academic" "Associate academic members"}}
{{ $pluralPositions.Set "Post-doctoral researcher" "Post-doctoral researchers"}}
{{ $pluralPositions.Set "Ph.D. Student" "Ph.D. Students"}}

    <main class="posts people-archive">
        <h1>{{ .Title }}</h1>

        {{ $peoplePages := .Pages}}

        {{ range $position := .Site.Params.allowedPosition}}

            {{ $positionPages := where $peoplePages ".Params.Position" $position}}
            {{ if ($positionPages)}}
                <div class="people-container">
                    <h2 class="position-title">
                        {{if ($pluralPositions.Get $position)}}
                            {{- $pluralPositions.Get $position -}}
                        {{else}}
                            {{$position}}
                        {{end}}
                    </h2>

                    

                    <ul class="people-list">
                    {{ range $curPage := $positionPages.ByTitle}}
                        
                            <li class="people-item">
                                <a href="{{$curPage.Permalink}}">
                                    <div class="picture">
                                        {{ if .Params.picture}}
                                            {{ $image := $curPage.Resources.GetMatch .Params.picture }}
                                            <img src={{$image.RelPermalink}} alt="">
                                        {{else}}
                                            <img class="nopicture" src="/media/img/avatar.png" alt="">
                                        {{end}}
                                    </div>
                                    <div class="name">{{$curPage.Params.Title}}</div>
                                    <div class="socials">
                                        {{$socials := slice}}
                                        {{ range .Params.social }}      
                                            {{range $key, $value := .}}
                                                {{with $value}}
                                                {{ if eq $key "email"}}
                                                    {{$value = $value | printf "mailto:%s"}}
                                                {{end}}

                                                {{$socials = $socials | append (dict "name" $key "url" $value) }}
                                                {{end}}
                                            {{end}}
                                        {{end}}

                                        {{ partial "social-icons.html" (first 4 $socials) }}
                                    </div>
                                </a>
                            </li>
                    {{end}}
                    </ul>
                    
                </div>
            {{end}}
        {{end}}

        {{ if .Content }}
            <div class="content align-start">{{ .Content }}</div>
        {{ end }}
        
    </main>
{{ end }}
