{{ define "main" }}

{{if not (in .Site.Params.allowedPosition .Params.position)}}
  <!-- check that the position is allowed -->
  {{ errorf "Invalid Position (%q) for: %q\t" .Params.position .Title }}
{{end}}

  <main class="post">
  
    <article class="people">

      <div class="info">
        
        {{with .Params.picture}}
        <div class="profile-picture">
          <div class="image-container">
            <img src={{.}} alt="">
          </div>
        </div>
        {{end}}

        <h1 class="name">
          {{ .Title | markdownify }}
        </h1>
        <h2 class="position">
          {{ if (eq .Params.position "Academic") }}
	     Professor
	  {{ else }}
   	    {{ $position := .Params.position }}
	    {{ $position }}
	  {{ end }}
        </h2>

        <div class="affiliations">
          {{ with .Params.affiliations }}
            {{range .}}
              {{ if isset . "url"}}
                <a href={{.url}}>
              {{end}}
              <p>{{ .text }}</p>
              {{ if isset . "url"}}
                </a>
              {{end}}
            {{end}}
          {{ end }}
        </div>

        <div class="socials">
          
          {{$socials := slice}}      
          {{ range .Params.social }}
            {{range $key, $value := .}}
            {{with $value}}
                {{ if eq $key "email"}}
                  {{$value = $value | printf "mailto:%s"}}
                {{end}}

                {{$socials = $socials | append (dict "name" $key "url" $value) }}
              {{end}}
            {{end}}
          {{ end }}

          {{ partial "social-icons.html" $socials }}
        </div>
      </div>
      <div class="description">
        {{ .Content }}

        {{- $researchPages := where (where .Site.Pages "Params.type" "research") "Params.researchers" "intersect" (slice .Params.slug) -}}
        
        {{- with $researchPages -}}
          <h2>Latest research in ISPGroup</h2>
          
          <ul>
          {{- range first 3 (sort $researchPages "Params.date" "desc") -}}
            <li style="margin-bottom: 10px">
              <a href="{{.Permalink}}">
                {{- .Title -}}
              </a>
            </li>
          {{- end -}}
          </ul>
        {{- end -}}
      </div>

    </article>

    <hr />

  </main>
{{ end }}
