{{ define "main" }}

    {{ $paginator := .Paginate .Data.Pages .Site.Params.maxResearchInArchive }}

    <main class="posts research-archive">
        <h1>            
            {{ .Title }}
        </h1>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{$includedCategories := slice}}
        {{range .Data.Pages}}
            {{range .Params.categories}}
                {{ if not (in $includedCategories .)}}
                    {{ $includedCategories = $includedCategories | append .}}
                {{end}}
            {{end}}
        {{end}}

        <div class="category-filter">
            <p>If you look for a specific category of research, you can browse <a href="/categories">the list of available categories</a></p>
            <p>Randomly selected categories:</p>
            <div id="randomCategories" class="flex flex-wrap gap-1 mb-2"></div>
            
            <script>
                (function(){
                    const shuffle = (array) =>{
                        let currentIndex = array.length,  randomIndex;
                      
                        // While there remain elements to shuffle.
                        while (currentIndex != 0) {
                      
                          // Pick a remaining element.
                          randomIndex = Math.floor(Math.random() * currentIndex);
                          currentIndex--;
                      
                          // And swap it with the current element.
                          [array[currentIndex], array[randomIndex]] = [
                            array[randomIndex], array[currentIndex]];
                        }
                      
                        return array;
                      }
                      
                    const availableCategories = {{ $includedCategories}};
                    const rc = document.querySelector('#randomCategories')
                    const shuffled = shuffle(availableCategories);
                    const nbCategories = 5;

                    shuffled.slice(0,nbCategories).forEach( s =>{
                        const link = document.createElement('a')
                        link.href=`/categories/${s.replaceAll(' ','-').toLowerCase()}`
                        link.innerHTML = `<span class="category-tag"><span class="title">${s}</span></span>`
                        rc.append(link)
                    })
                })()
                
            </script>
            
        </div>


        {{ range $paginator.Pages.GroupByDate "2006" }}

            <div class="posts-group">
                <!-- <div class="post-year">{{ .Key }}</div> -->

                <ul class="posts-list">
                    {{ range .Pages }}
                        {{$curPage := .}}
                        <li class="post-item medium-flex-wrap">
                                {{$hasCover := false}}
                                {{$postPermalink := .Permalink}}
                                {{with .Params.thumbnail}}
                                    {{$hasCover = true}}
                                    {{$thumbnail := $curPage.Resources.GetMatch .}}
                                    <div class="cover-picture">
                                        <a class="post-link" href="{{$postPermalink}}">
                                            <img src="{{$thumbnail.RelPermalink}}" alt="">
                                        </a>
                                    </div>
                                {{end}}
                            
                                <span class="post-title">
                                    <a class="post-link" href="{{$postPermalink}}">
                                    <div class="title">{{.Title}}</div>
                                    <div class="description">
                                        <span>
                                            {{if (and (isset .Params "description") (ne .Params.description ""))}}
                                            {{.Params.description}}
                                            {{else }}{{.Summary}}
                                            {{end}}
                                        </span>
                                    </div>
                                    </a>
                                    <div class="post-categories {{if ($hasCover)}}has-cover {{end}}">
                                        {{ partial "categories.html" . }}
                                    </div>
                                </span>
                               {{ if (false)}} 
                                <span class="post-day">
                                    {{ .Date.Format "Jan 2, 2006"}}
                                </span>
                                {{end }}
                            

                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}

        {{.Scratch.Set "prevText" "Newer researchs"}}
        {{.Scratch.Set "nextText" "Older researchs"}}
        {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
