{{ define "main" }}
  <main class="post post-research">
    <article>
      <h1 class="post-title">
        {{ .Title | markdownify }}
      </h1>

      {{- with .Params.researchers -}}
        {{ partial "involved_researchers.html" (dict "researchers" . "site" $.Site) }}
      {{- end -}}
      
      
      <div class="post-info">
        {{ partial "categories.html" . }}

        <p class="research-date">{{- dateFormat .Site.Params.dateform .Date.Local -}}</p>
      </div>
      <hr />

      {{if false}}
        {{ with .Params.Description }}
          <div class="post-excerpt">{{ . }}</div>
          <hr />
        {{ end }}
      {{end}}

      {{ if .Params.Cover }}
        <figure class="post-cover">
          <img src="{{ .Params.Cover }}" alt="{{ .Title }}" />
          
          {{ if .Params.CoverCaption }}
            <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
          {{ end }}
        </figure>
      {{ end }}

      {{- if .Params.toc }}
        {{partial "toc.html" . }}
      {{- end }}

      {{ if .Params.Audio }}
        <div class="post-audio">
          <audio controls>
            <source src="{{ .Params.Audio }}">
          </audio>
        </div>
      {{ end }}

      <div class="post-content">
        {{ .Content }}
      </div>


    </article>

  </main>
{{ end }}
