{{$publicationDate := index .sm_date 0}}

<!-- {{.created}} -->
{{$creationDay := trim (dateFormat "__2" .created) " "}}
<div class="publication-item publication" 
        data-year="{{$publicationDate}}"
        data-day="{{ sub 366 (int $creationDay)}}"
        data-sortingValue={{.sortingValue}}
        >
        
        <a href='{{index .sm_handle 0}}' target="_blank" rel="noreferrer"> 
            <div class="file-logo">
                <img src="/media/img/file.png" alt="" /> 
            </div>
            <div class="authors">
                {{range .tm_creator}}
                    {{$arr_s := split . ","}}
                    <span class="author">{{- index $arr_s 1}} {{index $arr_s 0 -}} </span>
                {{end}}
                ({{$publicationDate}}).
            </div>
            <h3 class="publication-title">
                {{$pubTitle := index .title 0}}
                {{$pubTitle}}{{if ne (substr $pubTitle -1) "."}}.{{end}}
            </h3>
            <div class="book">
                {{range $k, $v := .}}
                    {{if eq $k "sm_book.title" }}
                        {{index $v 0}}
                    {{end}}
                {{end}}
            </div>
            <div class="journal">
                {{range $k, $v := .}}
                    {{if eq $k "sm_journal.title" }}
                        {{index $v 0}},
                    {{end}}
                    {{if eq $k "sm_journal.volume" }}
                        {{index $v 0}},
                    {{end}}
                    
                {{end}}
            </div>
        </a>
    
</div>
