{{ with .Params.categories }}
    <p class="categories-container">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-folder meta-icon"><path d="M22 19a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h5l2 3h9a2 2 0 0 1 2 2z"></path></svg> -->

        {{ range . -}}
        <a href="{{ "categories/" | absLangURL }}{{ . | urlize }}/"><span class="tag">{{.}}</span></a>
        {{ end }}
    </p>
{{ end }}