<div id="wordcloudCanvas" ></div>

{{- $wordcloud := resources.Get "js/wordcloud2.js" -}}
{{ $wordcloud := $wordcloud  | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $wordcloud.RelPermalink }}" integrity="{{ $wordcloud.Data.Integrity }}"></script>

<script>
    (function(){
        if (!WordCloud.isSupported) return

        const categoriesArray = []
        {{ range .}}
            categoriesArray.push([ {{.Title}} , {{len .Data.Pages}} ])
        {{ end }}

        
        const wordcloudCanvas = document.querySelector('#wordcloudCanvas')
        const sizeFactor = categoriesArray.map(i=>i[1]).reduce((a, b)=>a+b, 0)
        
        const wordcloudOptions= { 
            gridSize: Math.round(10 * wordcloudCanvas.clientWidth / 2048),
            list: categoriesArray,
            weightFactor:function (size) { 
                return 2*Math.pow(size,0.5) * wordcloudCanvas.clientWidth / sizeFactor; 
            },
            rotationSteps: 2,
	    rotateRatio:0
        };
        WordCloud(wordcloudCanvas, wordcloudOptions);

        
        wordcloudCanvas.addEventListener('wordcloudstop', function (e) {
            // loop over all added elements (by class name)
            wordcloudCanvas.querySelectorAll('span').forEach(function (element) {
                const word = element.innerHTML;
                element.innerHTML = `<a href="/categories/${word.replace(/ +/g, '-').toLocaleLowerCase()}" style="color: inherit;">${word}</a>`
            }); 
        });

        const debounced = (func, timeout=300)=>{
            let timer;
            return (...args)=>{
                clearTimeout(timer);
                timer = setTimeout( ()=>{
                    func.apply(this,args)
                }, timeout)

            }
        }

        const redrawCanvas = debounced(()=>{
            WordCloud(wordcloudCanvas, wordcloudOptions);
        })
        window.addEventListener('resize', redrawCanvas)



        
        
    })()
    </script>
