<!-- load comments from mastodon -->
{{- $host := site.Params.comments.host -}}
{{- with .host -}}
    {{- $host = . -}}
{{- end -}}

{{- $username := site.Params.comments.username -}}
{{- with .username -}}
    {{- $username = . -}}
{{- end -}}

{{- $id := .id -}}



<div id="refMastodonComments" class="article-content">
    <h2 id="MastodonComments">Comments</h2>
    <p>
        You can use your Mastodon account to reply to this <a class="link" href="https://{{ $host }}/@{{ $username }}/{{ $id }}" target="_blank" rel="noreferrer">post</a>.
    </p>
    <!-- <p><button id="replyButton" href="https://{{ $host }}/@{{ $username }}/{{ $id }}">Reply</button></p> -->

    <button id="replyButton"><span class="category-tag"><span class="title">Reply</span></span></button>
    
    <dialog id="toot-reply" class="mastodon-modal" data-component="dialog">
      <h3>Reply to {{ $username }}'s post</h3>
      <p>
        With an account on the Fediverse or Mastodon, you can respond to this post.
        Since Mastodon is decentralized, you can use your existing account hosted by another Mastodon server or compatible platform if you don't have an account on this one.
      </p>
      <p>Copy and paste this URL into the search field of your favourite Fediverse app or the web interface of your Mastodon server.</p>
      <div class="copypaste">
        <input type="text" readonly="" value="https://{{ $host }}/@{{ $username }}/{{ $id }}">
        <button id="copyButton" class="no-padding transparent" ><span class="category-tag"><span class="title">Copy</span></span></button>
        <button id="cancelButton" class="no-padding transparent"><span class="category-tag"><span class="title">Close</span></span></button>
        <!-- <button class="button" id="copyButton">Copy</button>
        <button class="button" id="cancelButton">Close</button> -->
      </div>
    </dialog>

    

    <p id="mastodon-comments-list">
        <button id="load-comment"><span class="category-tag"><span class="title">Load Comments</span></span></button>
    </p>
    
    <noscript><p>You need JavaScript to view the comments.</p></noscript>

    {{- $purify := resources.Get "js/purify.min.js" -}}
    {{ $purify := $purify  | resources.Fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $purify.RelPermalink }}" integrity="{{ $purify.Data.Integrity }}"></script>

    <script type="text/javascript">

      //Add toc link
      const toc = document.querySelector("div.toc")
      if (toc){
      const refLink = document.createElement('li')
      refLink.innerHTML = `<a href="#MastodonComments" aria-label="MastodonComments" class="">Comments</a>`
      toc.querySelector('details div.inner ul').append(refLink)
      }

      // handle dialog
      const dialog = document.querySelector('dialog');
  
      document.getElementById('replyButton').addEventListener('click', () => {
        dialog.showModal();
      });
  
      document.getElementById('copyButton').addEventListener('click', () => {
        navigator.clipboard.writeText('https://{{ $host }}/@{{ $username }}/{{ $id }}');
      });
  
      document.getElementById('cancelButton').addEventListener('click', () => {
        dialog.close();
      });
  
      dialog.addEventListener('keydown', e => {
        if (e.key === 'Escape') dialog.close();
      });
  
      function escapeHtml(unsafe) {
        return unsafe
             .replace(/&/g, "&amp;")
             .replace(/</g, "&lt;")
             .replace(/>/g, "&gt;")
             .replace(/"/g, "&quot;")
             .replace(/'/g, "&#039;");
     }
  
      document.getElementById("load-comment").addEventListener("click", function() {
        document.getElementById("load-comment").innerHTML = "Loading";
        fetch('https://{{ $host }}/api/v1/statuses/{{ $id }}/context')
          .then(function(response) {
            return response.json();
          })
          .then(function(data) {
            console.log(data)
            if(data['descendants'] &&
               Array.isArray(data['descendants']) && 
              data['descendants'].length > 0) {

                // clear comments-list
                document.getElementById('mastodon-comments-list').innerHTML = "";

                data['descendants'].forEach(function(reply) {
                  reply.account.display_name = escapeHtml(reply.account.display_name);
                  reply.account.emojis.forEach(emoji => {
                    reply.account.display_name = reply.account.display_name.replace(`:${emoji.shortcode}:`,
                      `<img src="${escapeHtml(emoji.static_url)}" alt="Emoji ${emoji.shortcode}" height="20" width="20" />`);
                  });
                  mastodonComment =
                    `<div class="mastodon-comment">
                       <div class="avatar">
                         <img src="${escapeHtml(reply.account.avatar_static)}" height=60 width=60 alt="">
                       </div>
                       <div class="content">
                         <div class="author">
                           <a class="name" href="${reply.account.url}" target="_blank" rel="noreferrer">
                             <span>${reply.account.display_name}</span>
                             <span class="disabled">${escapeHtml(reply.account.acct)}</span>
                           </a>
                           <a class="date" href="${reply.uri}" target="_blank" rel="noreferrer">
                             ${reply.created_at.substr(0, 10)}
                           </a>
                         </div>
                         <div class="mastodon-comment-content">${reply.content}</div> 
                       </div>
                     </div>`;

                    const sanitizeComment = DOMPurify.sanitize(mastodonComment, {'RETURN_DOM_FRAGMENT': true, ADD_ATTR: ['target'] })
                    document.getElementById('mastodon-comments-list').appendChild(sanitizeComment);
                  
                });
            } else {
              document.getElementById('mastodon-comments-list').innerHTML = "<p>Not comments found</p>";
            }
          });
        });
    </script>
  </div>