<div class="flex flex-center align-center fundings-logo">

    <a href="https://uclouvain.be" target="_blank" rel="noreferrer">
        <img src="/media/img/logo_uclouvain.png" alt="" />
    </a>

    <a href="https://www.frs-fnrs.be" target="_blank" rel="noreferrer">
        <img src="/media/img/fnrs-logo.png" alt="" />
    </a>
</div>