{{- $nbResearchers := len .researchers -}}
{{- $site := .site -}}
<h2 class="researchers">by<span>&nbsp;</span>
    {{ range $index, $researcher := .researchers }}
    {{ $researcherPage := $researcher | printf "/people/%s"  }}
    {{ with $site.GetPage $researcherPage }}
        <a href="{{$researcherPage}}" class="researcher-link">{{.Title}}</a>
    {{ else }}
        <span>{{ $researcher }}</span>
    {{ end }}
    {{ if lt $index (sub $nbResearchers 2) }},<span>&nbsp;</span>{{ else if eq $index (sub $nbResearchers 2) }}<span>&nbsp;</span>&<span>&nbsp;</span>{{ end }}
    {{ end }}
</h2>