<nav class="menu">
    {{- $currentPage := . -}}
    {{ $isHome:= eq ($currentPage.RelPermalink | string) "/"}}

    <ul class="menu__inner">
        {{ range .Site.Menus.main -}}
            <li>
                {{$isActive := in $currentPage.RelPermalink .URL}}
                
                {{$urlIsHome := eq (.URL | string) "/"}}
                {{if and ($urlIsHome) (not $isHome)}}
                    {{$isActive = false}}
                {{end}}

                <a href="{{ .URL | relLangURL }}" {{ if $isActive }}class="active"{{ end }}>
                    {{ .Name }}
                </a>
            </li>
        {{- end }}

        {{- if .Site.Params.EnableGlobalLanguageMenu }}
        <div class="submenu">
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">{{ .Language }}</a>
                <div class="dropdown-content">
                    {{ if .Site.IsMultiLingual }}
                        {{ range $.Translations }}
                            <a title="{{ .Language }}" href="{{ .Permalink }}">{{ .Language }}</a>
                        {{ end }}
                    {{ end }}
                </div>
            </li>
        </div>
        {{- end }}
    </ul>
</nav>
