<div class="news">
    <div class="date">
        {{if false}}
            {{ .Date.Format "2" }}{{ if in (slice 1 21 31) .Date.Day}}st{{ else if in (slice 2 22) .Date.Day}}nd{{ else if in (slice 3 23) .Date.Day}}rd{{ else }}th{{ end }} of {{ .Date.Format "January 2006" }}
        {{ else }}
            {{ .Date.Format "Jan 2, 2006"}}
        {{ end }}
    </div>

    <div class="content">
        {{.Content}}
    </div>
</div>