{{$nextText := .Scratch.Get "nextText"}}
{{$prevText := .Scratch.Get "prevText"}}

<div class="pagination">
    <div class="pagination__buttons">
        {{ if .Paginator.HasPrev }}
            <span class="button previous">
                <a href="{{ .Paginator.Prev.URL }}">
                    <span class="button__icon">←</span>
                    <span class="button__text">
                        {{if $prevText}}{{$prevText}}
                        {{else}}Newer posts
                        {{end}}
                    </span>
                </a>
            </span>
        {{ end }}
        {{ if .Paginator.HasNext }}
            <span class="button next">
                <a href="{{ .Paginator.Next.URL }}">
                    <span class="button__text">
                        {{if $nextText}}{{$nextText}}
                        {{else}}Newer posts
                        {{end}}
                    </span>
                    <span class="button__icon">→</span>
                </a>
            </span>
        {{ end }}
    </div>
</div>
