{{$publicationDate := .pubYear}}

<!-- {{.created}} -->
{{$creationDay := 1 }}
<div class="publication-item publication" 
        data-year="{{$publicationDate}}"
        data-day="{{ sub 366 (int $creationDay)}}"
        data-sortingValue={{.sortingValue}}
        >
        
        <a href='{{.URL}}' target="_blank" rel="noreferrer"> 
            <div class="file-logo">
                <img src="/media/img/file.png" alt="" /> 
            </div>
            <div class="authors">
                {{range .author}}
                    <span class="author">{{- .given}} {{index .family -}} </span>
                {{end}}
                ({{$publicationDate}}).
            </div>
            <h3 class="publication-title">
                {{$pubTitle := .title }}
                {{$pubTitle}}{{if ne (substr $pubTitle -1) "."}}.{{end}}
            </h3>
            <div class="book">
                {{- index . "container-title" -}}
            </div>
            <div class="journal">
                {{$vol := index . "volume"}}
                {{- if $vol -}}
                    ({{- $vol -}})
                {{- end -}}
            </div>
        </a>
    
</div>
