{{- $bibEntries := findRE "(?s)<span class='bib-ref'.*?>.+?</span>" .Content -}}


{{- with $bibEntries -}}
<div id="refContainer">
    <h2 id="references">References</h2>
    <ul id="bibList">
        {{- $bibMap :=  slice -}}
        {{- range $bibEntry := $bibEntries -}}
            {{- $id := replaceRE "(?s).*? data-id=\"(.*?)\".*" "$1" $bibEntry -}}

            {{- if not (in $bibMap $id) -}}
                {{- $bibMap = append $id $bibMap -}}

                {{- $refType := replaceRE "(?s).*? data-ref-type=\"(.*?)\".*" "$1" $bibEntry -}}
                {{- $authors := replaceRE "(?s).*? data-authors=\"(.*?)\".*" "$1" $bibEntry -}}
                {{- $editors := replaceRE "(?s).*? data-editors=\"(.*?)\".*" "$1" $bibEntry -}}

                {{- $year := replaceRE "(?s).*? data-year=\"(.*?)\".*" "$1" $bibEntry -}}
                {{- $title := replaceRE "(?s).*? data-title=\"(.*?)\".*" "$1" $bibEntry -}}
                
                {{- $type := replaceRE "(?s).*? data-type=\"(.*?)\".*" "$1" $bibEntry -}}
                {{- $containerTitle := replaceRE "(?s).*? data-container-title=\"(.*?)\".*" "$1" $bibEntry -}}
                {{- $volume := replaceRE "(?s).*? data-volume=\"(.*?)\".*" "$1" $bibEntry -}}
                {{- $issue := replaceRE "(?s).*? data-issue=\"(.*?)\".*" "$1" $bibEntry -}}
                {{- $page := replaceRE "(?s).*? data-page=\"(.*?)\".*" "$1" $bibEntry -}}

                {{- $publisher := replaceRE "(?s).*? data-publisher=\"(.*?)\".*" "$1" $bibEntry -}}

                {{- $place := replaceRE "(?s).*? data-place=\"(.*?)\".*" "$1" $bibEntry -}}

                {{- $eventName := replaceRE "(?s).*? data-event-name=\"(.*?)\".*" "$1" $bibEntry -}}
                {{- $eventLocation := replaceRE "(?s).*? data-event-location=\"(.*?)\".*" "$1" $bibEntry -}}
                
                {{- $number := replaceRE "(?s).*? data-number=\"(.*?)\".*" "$1" $bibEntry -}}

                {{- $DOI := replaceRE "(?s).*? data-DOI=\"(.*?)\".*" "$1" $bibEntry -}}
                {{- $URL := replaceRE "(?s).*? data-URL=\"(.*?)\".*" "$1" $bibEntry -}}

                <li id="{{$id}}">
                    [{{- len $bibMap -}}]{{- "&nbsp;" | safeHTML -}}{{- $authors -}} ({{- $year -}}). <em>{{- $title -}}</em>
                    {{- if in (slice "article" "article-journal") (lower $type) -}}
                        {{- "&nbsp;" | safeHTML -}}{{- $containerTitle -}}, {{$volume}}
                        {{- with $issue -}}({{- $issue -}}){{- end -}} {{- with $page -}}{{- printf ", %s" $page -}}{{- end -}}.
                    {{- else if eq (lower $type) "book" -}}
                        {{- "&nbsp;" | safeHTML -}}{{- $publisher -}}.
                    {{- else if eq (lower $type) "chapter" -}}
                        {{- "&nbsp;" | safeHTML -}}In: {{$editors -}} (Ed.), {{ $containerTitle }} {{ $publisher -}}.
                    {{- else if in  (slice "conference" "paper-conference")  (lower $type) -}}
                        {{- if $eventName -}}
                            {{- "&nbsp;" | safeHTML -}}{{ $eventName }}{{- with $eventLocation -}}{{- printf " (%s)" $eventLocation -}}{{ end -}}.
                        {{- else if $containerTitle -}}
                            {{- "&nbsp;" | safeHTML -}}{{ $containerTitle }}{{- with $place -}}{{- printf " (%s)" $place -}}{{ end -}}.
                        {{- end -}}

                    {{- else if eq (lower $type) "report" -}}
                    {{- "&nbsp;" | safeHTML -}}{{- with $number -}}{{- printf " (%s)" $number -}}{{ end -}}{{ $publisher }}.
                    {{- end -}}

                    {{- if or $DOI $URL -}}
                    {{- "&nbsp;" | safeHTML -}}(
                        {{- if $DOI -}}
                            <a href="{{- $DOI -}}" target="_blank" rel="noreferrer">doi</a>
                        {{- end -}}
                        {{- if $URL -}}
                            {{- if $DOI -}}{{- ",&nbsp;" | safeHTML -}}{{- end -}}
                            <a href="{{- $URL -}}" target="_blank" rel="noreferrer">url</a>
                        {{- end -}}
                    )
                    {{- end -}}
                </li>
            {{- end -}}
            
           
        {{- end -}}
    </ul>
</div>
{{- end -}}

<script>
    (function () {
        const toc = document.querySelector("div.toc")
        const references = document.querySelector("div#refContainer")
        // const bibList = references.querySelector("ul#bibList")

        const bibEntries = document.querySelectorAll(".bib-ref")

        if (!bibEntries.length) return;

        // get bib order
        const bibMap = {}
        document.querySelectorAll('ul#bibList > li').forEach( (refEntry, index) => {
            bibMap[refEntry.id] = index+1
        })
        
        bibEntries.forEach( bibEntry => {
            const refType = bibEntry.dataset.refType
            if (refType == "N"){
                const refid = bibEntry.dataset.id
                bibEntry.innerHTML = `[${bibMap[refid]}]`
            }
        })

        //Add toc link
        const refLink = document.createElement('li')
        refLink.innerHTML = `<a href="#references" aria-label="references" class="">References</a>`
        toc.querySelector('details div.inner ul').append(refLink)

        // Highlight ref on link click
        bibEntries.forEach( bibEntry =>{
            bibEntry.addEventListener('click', ()=>{
                const bibId = bibEntry.dataset['id']

                const refEntry = references.querySelector(`li#${bibId.replace(':', '\\:')}`)
                refEntry.classList.add('highlighted')
                
                // delay after link click because scroll happens immediately
                setTimeout( ()=>{
                    document.addEventListener('scroll', ()=>{
                        refEntry.classList.remove('highlighted')
                    }, {once:true})
                }, 1000)
                
            })
        })
    })()
</script>