{{$curPage := .}}
<li class="post-item ">
    <a href="{{.Permalink}}">
        {{with .Params.thumbnail}}
            {{$thumbnail := $curPage.Resources.GetMatch .}}
            <div class="cover-picture">
                <img src="{{$thumbnail.RelPermalink}}" alt="">
            </div>
        {{end}}
        <span class="post-title">
            <span class="title">{{.Title}}</span>
            <div class="description">
                <span>
                    {{if (and (isset .Params "description") (ne .Params.description ""))}}
                    {{.Params.description}}
                    {{else }}{{.Summary}}
                    {{end}}
                </span>
            </div>
        </span>
        <span class="post-day">
            {{ .Date.Format "Jan 2, 2006"}}
        </span>
    </a>
</li>