{{$seminarDate := time .Params.seminardate}}
<details class="seminar-detail">
    <summary accesskey="c" title="(Alt + C)">
        <div class="details">
            <div class="title">{{.Title}}</div>
            <div class="speaker">{{.Params.speaker}}</div>
        </div>
        <div class="date">
            {{dateFormat "2 January 2006" $seminarDate }}
        </div>
    </summary>

    <div class="inner">
        <hr/>
        <div class="seminar-content">
            {{.Params.abstract}}
            {{ .Content }}
        </div>
        <hr/>

        {{$curPage := .}}
        {{$externalLink:= ""}}
        {{if (and (isset .Params "externallink") (ne .Params.externalLink nil) ) }}
            {{$externalLink = .Params.externalLink}}
        {{end}}

        {{if (or (ne $externalLink "") (ne .Params.files nil) )}}

        <div class="ressources">

            {{with .Params.files}}
            <span>Ressources :</span>
            {{range $key,$value :=.}}
            {{$filePath := $curPage.Resources.GetMatch $value}}
            <a href="{{$filePath.Permalink}}" download="{{$value}}" class="button-file"><button >{{$key}}</button></a>
            {{end}}
            {{end}}
    

            {{ if ne $externalLink ""}}
            <p>
            External Web page: <a href="{{$externalLink}}" target="_blank" rel="noreferrer">{{$externalLink}}</a>
            </p>
            {{end}}
        </div>
        
        <hr/>
        {{end}}

        <div class="additionals">
            <p class="seminar-date">
                {{.Params.location}} -- {{dateFormat "Monday, 2 January 2006 at 15:04" $seminarDate }} ({{.Params.duration}}&nbsp;min.)
            </p>
            {{$timeStart := (.Params.seminarDate| time.AsTime).Unix}}
            {{$timeEnd := time (add $timeStart (mul .Params.duration 60))}}  
            
            <div class="atcb" style="display:none;" >
            {
                "name":"{{replace .Title "\"" "'"}}",
                "description":"{{.Params.abstract}}",
                "startDate":"{{dateFormat "2006-01-02" .Params.seminarDate}}",
                "endDate":"{{dateFormat "2006-01-02" .Params.seminarDate}}",
                "startTime":"{{dateFormat "15:04" .Params.seminarDate}}",
                "endTime":"{{dateFormat "15:04" $timeEnd.UTC}}",
                "location":"{{.Params.location}}",
                "label":"Add to my Calendar",
                "options":[
                "Apple",
                "Google",
                "iCal",
                "Microsoft365",
                "MicrosoftTeams",
                "Outlook.com"
                ],
                "timeZone":"Europe/Berlin",
                "trigger":"click",
                "inline":true,
                "listStyle":"modal",
                "iCalFileName":"Seminar-Reminder"
            }
            </div>
        </div>

    </div>
</details>