{{ range . -}}
    &nbsp; <a href="{{ .url }}" target="_blank" rel="noopener" title="{{ .name | humanize }}">
        <span class="icon-{{.name}}">{{ partial "svg.html" . }}</span>
    </a> &nbsp;
{{- end -}}
