{{ define "body" }}
    <body id="ISPbody" class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main" class="post ISP-layout homepage">
        <section>
            <div>
                {{ if .Site.Params.Portrait.Path }}
                <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
                {{ end }}

                <!-- <h1>{{ .Site.Title }}</h1> -->

                {{ partial "subtitle.html" . }}

                {{if false}}
                {{- with .Site.Params.social }}
                    <div>                    
                        {{ partial "social-icons.html" . }}
                    </div>
                {{- end }}
                {{end}}
            </div>
        </section>

        <section id="homepageContent" class="">
            {{.Content}}
        </section>

        <section>
            <!-- get page per categories -->
            {{$categoriesPages := ($.Site.GetPage "taxonomyTerm" "categories").Pages}}
            {{- partial "categories_wordcloud.html" $categoriesPages -}}
            
        </section>

        <section>
            <div class="flex align-center flex-space-between">
                <a href="/news"><h2>News</h2></a>
                <a href="/news" class="gray"><div>(more news)</div></a>
            </div>
            <div class="sub-news">

                {{$pp := sort (where (where .Site.Pages "Params.type" "news") ".Date" "!=" nil) ".Date" "desc"}}
                {{range first 4 $pp }}
                    {{if ne .RelPermalink "/news/"}}
                        {{partial "news.html" .}}
                    {{end}}
                {{end}}
            </div>
        </section>

        <section class="homepage researches posts ">
            <div class="flex align-center flex-space-between">
                <a href="/research"><h2>Latest researches</h2></a>
                <a href="/research" class="gray"><div>(more researches)</div></a>
            </div>
            <div class="posts-group">
                {{$pp := sort (where (where .Site.Pages "Params.type" "research") ".Date" "!=" nil) ".Date" "desc"}}
                <ul class="posts-list">
                    {{range first 3 $pp }}
                        {{- partial "research_li.html" . -}}
                    {{end}}
                </ul>
            </div>
        </section>
    </main>
{{ end }}
