{{ define "main" }}


    {{ $seminars := .Pages}}
    {{ $paginator := .Paginate (sort .Data.Pages "Params.seminarDate" "desc") .Site.Params.maxResearchInArchive }}

    <main class="posts seminars-archive">
        <h1>            
            {{.Title}}
        </h1>

        {{ if .Content }}
            <div class="content align-start">{{ .Content }}</div>
        {{ end }}

        <div class="seminars-list">
            
            {{$allSeminars := sort (where .Pages "Params.seminardate" "!=" nil) ".Params.seminardate" "desc" }}
            {{$todayStr := dateFormat "2006-01-02" now}}
            
            {{- $futureAdded:= false -}}
            {{- $previousAdded:= false -}}
            {{- range $paginator.Pages -}}
            
                {{- if and (ge .Params.seminardate $todayStr)  (eq $futureAdded false)  -}}
                    {{$futureAdded = true}}
                    <h2>Future Seminars</h2>
                {{- end -}}
                {{- if and (le .Params.seminardate $todayStr)  (eq $previousAdded false)  -}}
                    {{$previousAdded = true}}
                    <h2>Previous Seminars</h2>
                {{- end -}}
                
                {{ partial "seminar-summary.html" .}}
            {{- end -}}
        
            
        </div>

        <script>
            (function(){
            // Fetch all the details element.
            const All_Details = document.querySelectorAll("details");

            function toggleOpenOneOnly(e){
                if (this.open) {
                    All_Details.forEach(deet=>{
                    if (deet!=this && deet.open) deet.open = false
                    });
                }
            }

            All_Details.forEach(deet=>{
                deet.addEventListener('toggle', toggleOpenOneOnly)
            })
            }())
        </script>

        {{.Scratch.Set "prevText" "Next seminars"}}
        {{.Scratch.Set "nextText" "Previous seminars"}}
        {{ partial "pagination-list.html" . }}
    </main>
{{ end }}
