{{ define "main" }}

{{if not ( and (isset .Params "speaker") (ne .Params.speaker nil)) }}
  <!-- check that the speaker is defined -->
  {{errorf "You must specify a speaker for the seminar %q\t" .Title}}
{{end}}

{{if not ( and (isset .Params "seminardate") (ne .Params.seminardate nil)) }}
  <!-- check that the date is defined -->
  {{errorf "You must specify a seminar date for the seminar %q\t" .Title}}
{{end}}

{{if not ( and (isset .Params "location") (ne .Params.location nil)) }}
  <!-- check that the location is defined -->
  {{errorf "You must specify a location for the seminar %q\t" .Title}}
{{end}}

{{if not ( and (isset .Params "duration") (ne .Params.duration nil)) }}
  <!-- check that the duration is defined -->
  {{errorf "You must specify a duration for the seminar %q\t" .Title}}
{{end}}

{{if not ( and (isset .Params "abstract") (ne .Params.abstract nil)) }}
  <!-- check that the abstract is defined -->
  {{errorf "You must specify a abstract for the seminar %q\t" .Title}}
{{end}}

{{$curPage := .}}
{{$seminarDate := time .Params.seminardate}}
  <main class="post post-seminar">
    <article>
      <i>ISP Seminar</i>
      <h1 class="post-title">
        {{ .Title | markdownify }}
      </h1>
      <h2 class="speaker-name">
        <span>by&nbsp;<i>{{.Params.speaker}}</i> </span>
      </h2>
      
      <div class="post-info">
        <p class="seminar-date">
          {{.Params.location}} -- {{dateFormat "Monday, 02 January 2006 at 15:04" $seminarDate }} ({{.Params.duration}} min.)
        </p>
        
        {{$timeStart := $seminarDate.UTC.Unix}}
        {{$timeEnd := time (add $timeStart (mul .Params.duration 60))}}  
        <div class="atcb" style="display:none;">
          {
            "name":"{{.Title}}",
            "description":"{{.Params.abstract}}",
            "startDate":"{{dateFormat "2006-01-02" $seminarDate}}",
            "endDate":"{{dateFormat "2006-01-02" $seminarDate}}",
            "startTime":"{{dateFormat "15:04" $seminarDate}}",
            "endTime":"{{dateFormat "15:04" $timeEnd.UTC}}",
            "location":"{{.Params.location}}",
            "label":"Add to my Calendar",
            "options":[
              "Apple",
              "Google",
              "iCal",
              "Microsoft365",
              "MicrosoftTeams",
              "Outlook.com"
            ],
            "timeZone":"Europe/Berlin",
            "trigger":"click",
            "inline":true,
            "listStyle":"modal",
            "iCalFileName":"Seminar-Reminder"
          }
        </div>
        
      </div>
      <hr />
      
      {{$externalLink:= ""}}
      {{if (and (isset .Params "externallink") (ne .Params.externalLink nil) ) }}
        {{$externalLink = .Params.externalLink}}
      {{end}}

      {{if (or (ne $externalLink "") (ne .Params.files nil) )}}

      <div class="ressources">

        {{with .Params.files}}
          <span>Ressources :</span>
          {{range $key,$value :=.}}
          {{$filePath := $curPage.Resources.GetMatch $value}}
          <a href="{{$filePath.Permalink}}" download="{{$value}}" class="button-file"><button >{{$key}}</button></a>
          {{end}}
        {{end}}
 

        {{ if ne $externalLink ""}}
        <p>
          External Web page: <a href="{{$externalLink}}" target="_blank" rel="noreferrer">{{$externalLink}}</a>
        </p>
        {{end}}
      </div>
      
      <hr/>
      {{end}}
    

      <div class="post-content">
        {{.Params.abstract}}
        {{ .Content }}
      </div>

    </article>


    <script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@1" async defer></script>
  </main>
{{ end }}
