{{- define "main" -}}

<main class="post post-publications ISP-layout">
  <article>
    <h1 class="post-title">
      {{- .Title | markdownify -}}
    </h1>

    <div class="post-content">
      {{- .Content -}}
    </div>

    {{- $publications := slice -}}
    {{- $publicationsID := slice -}}

    {{- with $.Site.Data.dialPublications}}
      {{- range . -}}
        <!-- no creation date on new dial export -->
        {{- $creationDay := 1 -}}
        {{- $publicationDate := int (index (index (index .issued "date-parts") 0) 0) -}}
        {{- $sortingValue := add (mul $publicationDate 1000) $creationDay -}}
        {{- $pubId := .id -}}

        {{- if  not (in $publicationsID $pubId) -}}
          {{- $publicationsID = append $pubId $publicationsID -}}

          {{ $pubElement := merge . (dict "sortingValue" $sortingValue "pubYear" $publicationDate ) }}

          {{$publications = $publications | append $pubElement }} 
        {{- end -}}
      {{- end -}}
    {{- end -}}

    
    {{ $publications = sort $publications ".sortingValue" "desc"}}

    <div id="publicationContainer" class="publication-container">
      {{with $publications}}
        {{$addedYears := slice}}
        
        <div class="publications-list list">
          {{range .}}
          {{$publicationDate := .pubYear }}

            {{if (not (in $addedYears $publicationDate)) }}
              {{$addedYears = $addedYears | append $publicationDate }}
              <div class="publication-item publication-year" 
              data-year="{{$publicationDate}}" data-day="-10"
              data-sortingValue={{add (mul (int $publicationDate) 1000) 400}}>
                <h2>{{$publicationDate}}</h2>
              </div>
            {{end}}

            {{partial "publication.html" .}}
          {{end}}
        </div>

        <div class="controls">

          <div class="search">
            <input type="search" class="fuzzy-search quicksearch" placeholder="Search" />
          </div>
          <div class="select-year">
            <select name="year" id="year">
              <option value="all">All</option>
              {{range sort $addedYears "value" "desc"}}
              <option value="{{.}}">{{.}}</option>
              {{end}}
            </select>
          </div>
        </div>

        
      {{end}}
    </div>
    

  </article>
</main>

{{- $js := resources.Get "js/publications.js" | js.Build -}}
<script src="{{- $js.RelPermalink -}}"></script>


{{- end -}}