<!-- Set variables -->
{{- $type :=  .Get "type" | default "N" | upper  -}}
{{- $id := .Get "id" -}}
{{- $currentPage := .Page -}}
{{- $json_filepath := path.Join "data/" ("publications.json") -}}

{{- $typeMap := dict 
    "Article de périodique (Journal article)" "Article" 
    "Brevet (Patent)" "Patent" 
    "Communication à un colloque (Conference Paper)" "Conference" 
    "Contribution à ouvrage collectif (Book Chapter)" "Chapter"
    "Document de travail (Working Paper)" "Article" 
    "Preprint" "Article" 
    "Rapport (Report)" "Thesis" 
    "Thèse (Dissertation)" "Book" 
    "info:eu-repo/semantics/article" "Article" -}}

{{- if not (fileExists $json_filepath) -}}
    <span class="error">[Bibliography file not found]</span>
{{- else if not (in (slice "N" "P" "T") $type) -}}
    <span class="error">[Invalid type - {{$type}}]</span>
{{- else if not $id -}}
    <span class="error">[Missing id]</span>
{{- else -}}

    {{- $json := getJSON $json_filepath -}}
    {{- $entries := where $json "id" $id -}}

    {{- if  eq (len $entries) 0 -}}
        <span class="error">[Entry not found - {{$id}}]</span>
    {{- else -}}
        {{- $entry := index $entries 0 -}}
        
        {{ $year := $entry.sm_date | print | strings.TrimRight "]" | strings.TrimLeft "[" }}
        
        <!-- Entry type -->
        {{- $refType := index $entry.sm_type 0 -}}
        {{- if index $typeMap $refType -}}
            {{- $refType = index $typeMap $refType -}}
        {{- end -}}
        {{- $refType = lower $refType -}}

        <!-- authors -->
        {{- $authors := "" -}}
        {{- $tempRefText := "" -}}
        {{- if eq $type "P" -}}
            {{- $tempRefText = "(" -}}
        {{- end -}}
        
        {{- if $entry.tm_creator -}}
            {{- $nbAuthors := len $entry.tm_creator -}}

            {{- range $index, $author := first 2 $entry.tm_creator -}}

                {{- $arr_s := split $author "," -}}
                {{- $familyName := index $arr_s 0 -}}

                {{- if eq $index 0 -}}
                    {{- $authors = $author -}}
                    {{- $tempRefText = printf "%s%s" $tempRefText $familyName  }}
                {{- else if eq $index 1 -}}
                    {{- if  gt $nbAuthors 2 -}}
                        {{- $authors = printf "%s et al." $authors -}}
                        {{- $tempRefText = printf "%s et al." $tempRefText }}
                    {{- else -}}
                        {{- $authors = printf "%s and %s" $authors $author -}}
                        {{- $tempRefText = printf "%s and %s" $tempRefText $familyName }}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        {{- else -}}
            {{- $authors = "Anonymous" -}}
            {{- $tempRefText = printf "%sAnonymous" $tempRefText}}
        {{- end -}}

        {{- if eq $type "P" -}}
            {{- $tempRefText = printf "%s %s)" $tempRefText $year}}
        {{- else -}}
            {{- $tempRefText = printf "%s (%s)" $tempRefText $year}}
        {{- end -}}

        <!-- editors -->
        {{- $editors := "" -}}
        {{- if $entry.sm_editor -}}
            {{- $nbEditors := len $entry.sm_editor -}}
            {{- range $index, $editor := first 2 $entry.sm_editor -}}

                {{- if eq $index 0 -}}
                    {{- $editors = $editor -}}
                {{- else if eq $index 1 -}}
                    {{- if  gt $nbEditors 2 -}}
                        {{- $editors = printf "%s et al." $editors -}}
                    {{- else -}}
                        {{- $editors = printf "%s and %s" $editors $editor -}}
                    {{- end -}}
                {{- end -}}

            {{- end -}}
        {{- end -}}

        <!-- Title  -->
        {{ $title := ""}}
        {{- if or (eq $refType "book") (eq $refType  "thesis") -}}
            {{- $title = title (index $entry.sm_title 0) -}}
        {{- else -}}
            {{- $title = index $entry.sm_title 0 -}}
        {{- end -}}
        
        {{- if ne (substr $title -1) "?" }}
            {{- $title = printf "%s." $title -}}
        {{ end }}

        <!-- Container title (Article) -->
        {{- $journalEntry := (index $entry "sm_journal.title") -}}
        {{- $containerTitle := "" -}}
        {{- if $journalEntry -}}
            {{- $containerTitle = title (index $journalEntry 0) -}}
        {{- end -}}
        

        <!-- Volume -->
        {{- $volumeEntry := index $entry "sm_journal.volume" -}}
        {{- $volInfo := "" -}}
        {{- if $volumeEntry -}}
            {{- $volInfo = index $volumeEntry 0 -}}
        {{- end -}}

        <!-- Volume -->
        {{- $volume := "" -}}
        {{- $issue := "" -}}
        {{- $page := "" -}}
        {{- if $volInfo -}}
            {{- $volume = replaceRE "(?s).*?Vol. (.*?),.*" "$1" $volInfo -}}
            {{- $issue = replaceRE "(?s).*?no. (.*?),.*" "$1" $volInfo -}}
            {{- $page = replaceRE "(?s).*?p. (.*?) .*" "$1" $volInfo -}}
        {{- end -}}

        <!-- Publisher -->
        {{- $publisherEntry :=  index $entry "sm_publisher.name" -}}
        {{- $publisher := "" -}}
        {{- if $publisherEntry -}}
            {{- $publisher = index $publisherEntry 0 -}}
        {{- end -}}

        <!-- Place -->
        {{- $placeEntry := index $entry "sm_publisher.location" -}}
        {{- $place := "" -}}
        {{- if $placeEntry -}}
            {{- $place = index $placeEntry 0  -}}
        {{- end -}}

        <!-- Genre -->
        {{- $genre := "" -}}      

        <!-- Event Name -->
        {{- $eventEntry := index $entry "tm_journal.title" -}}
        {{- $eventName := "" -}}
        {{- if $eventEntry -}}
            {{- $eventName = title ( index $eventEntry 0)  -}}
        {{- end -}}

        <!-- Event Location -->
        {{- $eventLocation := "" -}}

        <!-- Number -->
        {{- $number := "" -}}

        <!-- DOI -->
        {{- $DOIEntry := index $entry "sm_doi" -}}
        {{- $DOI := "" -}}
        {{- if $DOIEntry -}}
            {{- $DOI = index $DOIEntry 0 | printf "https://doi.org/%s" -}}
        {{- end -}}

        <!-- URL -->
        {{- $urlEntry := index $entry "sm_handle" -}}
        {{- $URL := "" -}}
        {{- if $urlEntry -}}
            {{- $URL = index $urlEntry 0 -}}
        {{- end -}}
        
        <a href="#{{- $id -}}">
            <span class='bib-ref'
            data-ref-type="{{- $type -}}"
            data-id="{{- $id -}}"
            data-type="{{- $entry.type -}}"
            data-year="{{- $year -}}" 
            data-authors="{{- $authors -}}" 
            data-editors="{{- $editors -}}"
            data-title="{{- $title -}}"
            data-container-title="{{- $containerTitle -}}"
            data-volume="{{- $volume -}}"
            data-page="{{- $page -}}"
            data-issue="{{- $issue -}}"
            data-publisher="{{- $publisher -}}"
            data-place="{{- $place -}}"
            data-genre="{{- $genre -}}"
            data-number="{{- $number -}}"
            data-event-name="{{- $eventName -}}"
            data-event-location="{{- $eventLocation -}}"
            data-DOI="{{- $DOI -}}"
            data-URL="{{- $URL -}}">{{$tempRefText}}</span>
        </a>
        
    {{- end -}}
{{end}}