<!-- Set variables -->
{{- $type :=  .Get "type" | default "N" | upper  -}}
{{- $id := .Get "id" -}}
{{- $currentPage := .Page -}}
{{- $json_filepath := path.Join "content/" (path.Dir $currentPage.File) ("bibliography.json") -}}
{{- if not (fileExists $json_filepath) -}}
    <span class="error">[Bibliography file not found]</span>
{{- else if not (in (slice "N" "P" "T") $type) -}}
    <span class="error">[Invalid type - {{$type}}]</span>
{{- else if not $id -}}
    <span class="error">[Missing id]</span>
{{- else -}}
    {{- $json := getJSON $json_filepath -}}
    {{- $entries := where $json "id" $id -}}
    {{- if  eq (len $entries) 0 -}}
        <span class="error">[Entry not found - {{$id}}]</span>
    {{- else -}}
        {{- $entry := index $entries 0 -}}
        {{- $year := index $entry.issued "date-parts" | print | strings.TrimRight "]" | strings.TrimLeft "[" -}}     
        <!-- authors -->
        {{- $authors := "" -}}
        {{- $tempRefText := "" -}}
        {{- if eq $type "P" -}}
            {{- $tempRefText = "(" -}}
        {{- end -}}
        {{- if $entry.author -}}
            {{- $nbAuthors := len $entry.author -}}
            {{- range $index, $author := first 2 $entry.author -}}
                {{- $ndp :=  default "" (index $author "non-dropping-particle") -}}
                {{- $familyName :=  $author.family -}}
                {{- if $ndp -}}
                    {{- $familyName = printf "%s %s" $ndp $familyName -}}
                {{- end -}}
                {{- $a := printf "%s, %s" $familyName $author.given -}}
                {{- if eq $index 0 -}}
                    {{- $authors = $a -}}
                    {{- $tempRefText = printf "%s%s" $tempRefText $familyName}}
                {{- else if eq $index 1 -}}
                    {{- if  gt $nbAuthors 2 -}}
                        {{- $authors = printf "%s et al." $authors -}}
                        {{- $tempRefText = printf "%s et al." $tempRefText -}}
                    {{- else -}}
                        {{- $authors = printf "%s and %s" $authors $a -}}
                        {{- $tempRefText = printf "%s and %s" $tempRefText $familyName -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        {{- else -}}
            {{- $authors = "Anonymous" -}}
            {{- $tempRefText = printf "%sAnonymous" $tempRefText}}
        {{- end -}}
        {{- if eq $type "P" -}}
            {{- $tempRefText = printf "%s %s)" $tempRefText $year}}
        {{- else -}}
            {{- $tempRefText = printf "%s (%s)" $tempRefText $year}}
        {{- end -}}
        <!-- editors -->
        {{- $editors := "" -}}
        {{- if $entry.editor -}}
            {{- $nbEditors := len $entry.editor -}}
            {{- range $index, $editor := first 2 $entry.editor -}}
                {{- $ndp :=  default "" (index $editor "non-dropping-particle") -}}
                {{- $familyName :=  $editor.family -}}
                {{- if $ndp -}}
                    {{- $familyName = printf "%s %s" $ndp $familyName -}}
                {{- end -}}
                {{- $a := printf "%s, %s" $familyName $editor.given -}}
                {{- if eq $index 0 -}}
                    {{- $editors = $a -}}
                {{- else if eq $index 1 -}}
                    {{- if  gt $nbEditors 2 -}}
                        {{- $editors = printf "%s et al." $editors -}}
                    {{- else -}}
                        {{- $editors = printf "%s and %s" $editors $a -}}
                    {{- end -}}
                {{- end -}}
            {{- end -}}
        {{- end -}}
        <!-- Title  -->
        {{- $title := ""}}
        {{- if or (eq $entry.type "book") (eq $entry.type  "thesis") -}}
            {{- $title = title $entry.title -}}
        {{- else -}}
            {{- $title = $entry.title -}}
        {{- end -}}
        {{- if ne (substr $entry.title -1) "?" -}}
            {{- $title = printf "%s." $title -}}
        {{- end -}}
        <!-- Container title (Article) -->
        {{- $containerTitle := title (index $entry "container-title") -}}
        <!-- Volume -->
        {{- $volume := $entry.volume -}}
        <!-- Issue -->
        {{- $issue := $entry.issue -}}
        <!-- Page -->
        {{- $page := replace $entry.page "-" "–" -}}
        <!-- Publisher -->
        {{- $publisher := $entry.publisher -}}
        <!-- Place -->
        {{- $place := index $entry "publisher-place" -}}
        <!-- Genre -->
        {{- $genre := $entry.genre -}}         
        <!-- Event Name -->
        {{- $eventName := title (index $entry "event-name")  -}}
        <!-- Event Location -->
        {{- $eventLocation := title (index $entry "event-location")  -}}
        <!-- Number -->
        {{- $number := $entry.number -}}
        <!-- DOI -->
        {{- $DOI := $entry.DOI -}}
        <!-- URL -->
        {{- $URL := $entry.URL -}}
        <a href="#{{- $id -}}"><span class='bib-ref'
            data-ref-type="{{- $type -}}"
            data-id="{{- $id -}}"
            data-type="{{- $entry.type -}}"
            data-year="{{- $year -}}" 
            data-authors="{{- $authors -}}" 
            data-editors="{{- $editors -}}"
            data-title="{{- $title -}}"
            data-container-title="{{- $containerTitle -}}"
            data-volume="{{- $volume -}}"
            data-page="{{- $page -}}"
            data-issue="{{- $issue -}}"
            data-publisher="{{- $publisher -}}"
            data-place="{{- $place -}}"
            data-genre="{{- $genre -}}"
            data-number="{{- $number -}}"
            data-event-name="{{- $eventName -}}"
            data-event-location="{{- $eventLocation -}}"
            data-DOI="{{- $DOI -}}"
            data-URL="{{- $URL -}}">{{$tempRefText}}</span></a>{{- end -}}{{- end -}}
