{{$position := "center"}}
{{with .Get "position"}}
    {{$position = .}}
{{end}}
<div class="iframe-container {{$position}}">
<iframe 
    {{range $key, $value:= .Params}}
        {{if (eq $key "src")}}
            src="{{$value}}"
        {{else}}
            {{$key}}="{{$value}}"
        {{end}}
    {{end}}
></iframe>
</div>