{{ if .Get "src" }}
{{$width := .Get "width"}}
<figure style="width:100%">
    <img src="{{ .Get "src" | safeURL }}" {{ with .Get "alt" }} alt="{{ . | plainify }}" {{ end }} class="{{ with .Get "position"}}{{ . }}{{ else -}} left {{- end }}" style="{{ with .Get "style" }} {{ . | safeCSS }} {{ end }} {{with $width}}width:{{$width}}{{end}}" />
    
    {{ if .Get "caption" }}
      <figcaption class="center">{{ .Get "caption" | markdownify }}</figcaption>
    {{ end }}
</figure>
{{ end }}