{{$userSlug := .Get 0}}
{{ $path := $userSlug | printf "/people/%s" }}
  
{{- with .Site.GetPage $path -}}
    <a href="{{.RelPermalink}}"><span>{{.Title}}</span></a>
{{- else -}}
    <span>{{ replace $userSlug "-" " " | title }}</span>
{{- end -}}

